/**************************/
/******   BTN COLOR   *****/
/**************************/
.s2s_contenedor .s2s_btn {
  background-color: #333; }
  .s2s_contenedor .s2s_btn.active .s2s_flecha {
    opacity: 1; }
  .s2s_contenedor .s2s_btn a.s2s_icon {
    color: #ddd; }
  .s2s_contenedor .s2s_btn .s2s_a_btn {
    background-color: #424242;
    color: #ddd; }
    .s2s_contenedor .s2s_btn .s2s_a_btn:hover {
      background-color: #525252; }
  .s2s_contenedor .s2s_btn .s2s_flecha {
    content: ' ';
    position: absolute;
    border: 8px solid;
    border-color: #D6D6D6 transparent transparent transparent;
    z-index: 99999;
    top: -1px;
    -webkit-transition: opacity 300ms;
    -webkit-transition-delay: 100ms;
    opacity: 0; }
.s2s_contenedor.s2s-btn-group > div.s2s_btn {
  border-left: solid 1px #3b3b3b; }
  .s2s_contenedor.s2s-btn-group > div.s2s_btn.afterplus {
    border-left: solid 0px #3b3b3b; }
  .s2s_contenedor.s2s-btn-group > div.s2s_btn.afterplus_open {
    border-left: solid 1px #3b3b3b; }
  .s2s_contenedor.s2s-btn-group > div.s2s_btn:first-child {
    border-left: solid 0px #3b3b3b; }
.s2s_contenedor .s2s_twitter:hover a.s2s_icon, .s2s_contenedor .s2s_twitter.active a.s2s_icon {
  color: #00aced; }
.s2s_contenedor .s2s_twitter .s2s_flecha {
  border-color: #00aced transparent transparent transparent; }
.s2s_contenedor .s2s_twitter .s2s_a_btn {
  background: #3894b6; }
  .s2s_contenedor .s2s_twitter .s2s_a_btn:hover {
    background: #00aced; }
.s2s_contenedor .s2s_facebook:hover a.s2s_icon, .s2s_contenedor .s2s_facebook.active a.s2s_icon {
  color: #3b5998; }
.s2s_contenedor .s2s_facebook .s2s_flecha {
  border-color: #3b5998 transparent transparent transparent; }
.s2s_contenedor .s2s_pinterest:hover a.s2s_icon, .s2s_contenedor .s2s_pinterest.active a.s2s_icon {
  color: #cb2027; }
.s2s_contenedor .s2s_pinterest .s2s_flecha {
  border-color: #cb2027 transparent transparent transparent; }
.s2s_contenedor .s2s_linkedin:hover a.s2s_icon, .s2s_contenedor .s2s_linkedin.active a.s2s_icon {
  color: #007bb6; }
.s2s_contenedor .s2s_linkedin .s2s_flecha {
  border-color: #007bb6 transparent transparent transparent; }
.s2s_contenedor .s2s_gplus:hover a.s2s_icon, .s2s_contenedor .s2s_gplus.active a.s2s_icon {
  color: #dd4b39; }
.s2s_contenedor .s2s_gplus .s2s_flecha {
  border-color: #dd4b39 transparent transparent transparent; }
.s2s_contenedor .s2s_wapp:hover a.s2s_icon, .s2s_contenedor .s2s_wapp.active a.s2s_icon {
  color: #37AF45; }
.s2s_contenedor .s2s_wapp .s2s_flecha {
  border-color: #37AF45 transparent transparent transparent; }
.s2s_contenedor .s2s_wapp .s2s_a_btn {
  color: #222;
  background: #43d854; }
  .s2s_contenedor .s2s_wapp .s2s_a_btn:hover {
    background: #37AF45; }
.s2s_contenedor .s2s_tumblr {
 /*
.s2s_a_btn{
  color:$twitter;
  &:hover{
    color:$twitter_a;
  }
}*/ }
  .s2s_contenedor .s2s_tumblr:hover a.s2s_icon, .s2s_contenedor .s2s_tumblr.active a.s2s_icon {
    color: #32506d; }
  .s2s_contenedor .s2s_tumblr .s2s_flecha {
    border-color: #32506d transparent transparent transparent; }
.s2s_contenedor .s2s_vk {
 /*
.s2s_a_btn{
  color:$twitter;
  &:hover{
    color:$twitter_a;
  }
}*/ }
  .s2s_contenedor .s2s_vk:hover a.s2s_icon, .s2s_contenedor .s2s_vk.active a.s2s_icon {
    color: #45668e; }
  .s2s_contenedor .s2s_vk .s2s_flecha {
    border-color: #45668e transparent transparent transparent; }
.s2s_contenedor .s2s_tgram:hover a.s2s_icon, .s2s_contenedor .s2s_tgram.active a.s2s_icon {
  color: #0088cc; }
.s2s_contenedor .s2s_tgram .s2s_flecha {
  border-color: #0088cc transparent transparent transparent; }
.s2s_contenedor .s2s_tgram .s2s_a_btn {
  background: #127fb6; }
  .s2s_contenedor .s2s_tgram .s2s_a_btn:hover {
    background: #0088cc; }
.s2s_contenedor .s2s_flipb:hover a.s2s_icon, .s2s_contenedor .s2s_flipb.active a.s2s_icon {
  color: #8c1010; }
.s2s_contenedor .s2s_flipb .s2s_flecha {
  border-color: #8c1010 transparent transparent transparent; }
.s2s_contenedor .s2s_delio:hover a.s2s_icon, .s2s_contenedor .s2s_delio.active a.s2s_icon {
  color: #1e61a3; }
.s2s_contenedor .s2s_delio .s2s_flecha {
  border-color: #1e61a3 transparent transparent transparent; }
.s2s_contenedor .s2s_delio .s2s_a_btn {
  background: #257acc; }
  .s2s_contenedor .s2s_delio .s2s_a_btn:hover {
    background: #1e61a3; }
.s2s_contenedor .s2s_reddit:hover a.s2s_icon, .s2s_contenedor .s2s_reddit.active a.s2s_icon {
  color: #ff4500; }
.s2s_contenedor .s2s_reddit .s2s_flecha {
  border-color: #ff4500 transparent transparent transparent; }
.s2s_contenedor .s2s_reddit .s2s_a_btn {
  background: #ea6a3a;
  color: #222; }
  .s2s_contenedor .s2s_reddit .s2s_a_btn:hover {
    background: #ff4500; }
.s2s_contenedor .s2s_email:hover a.s2s_icon, .s2s_contenedor .s2s_email.active a.s2s_icon {
  color: #0076e8; }
.s2s_contenedor .s2s_email .s2s_flecha {
  border-color: #0076e8 transparent transparent transparent; }
.s2s_contenedor .s2s_email .s2s_a_btn {
  background: #257acc; }
  .s2s_contenedor .s2s_email .s2s_a_btn:hover {
    background: #0076e8; }

/**************************/
/******   BALLOON  *****/
/**************************/
.globo {
  background-color: rgba(41, 41, 41, 0.95);
  padding: 10px;
  border: 0 solid #ccc;
  border-radius: 0 4px 4px 4px;
  box-shadow: 1px 2px 4px #aaa; }

.s2s_balloon_top .globo {
  border-bottom: solid 2px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px; }
.s2s_balloon_top .s2s_twitter .globo {
  border-color: #00aced; }
.s2s_balloon_top .s2s_facebook .globo {
  border-color: #3b5998; }
.s2s_balloon_top .s2s_pinterest .globo {
  border-color: #cb2027; }
.s2s_balloon_top .s2s_linkedin .globo {
  border-color: #007bb6; }
.s2s_balloon_top .s2s_gplus .globo {
  border-color: #dd4b39; }
.s2s_balloon_top .s2s_wapp .globo {
  border-color: #37AF45; }
.s2s_balloon_top .s2s_tumblr .globo {
  border-color: #32506d; }
.s2s_balloon_top .s2s_vk .globo {
  border-color: #45668e; }
.s2s_balloon_top .s2s_email .globo {
  border-color: #257acc; }
.s2s_balloon_top .s2s_reddit .globo {
  border-color: #ff4500; }
.s2s_balloon_top .s2s_delio .globo {
  border-color: #1e61a3; }
.s2s_balloon_top .s2s_tgram .globo {
  border-color: #0088cc; }
.s2s_balloon_top .s2s_flipb .globo {
  border-color: #8c1010; }

/*boton +*/
div.s2s_mas {
  color: #ddd; }
  div.s2s_mas a i {
    color: #ddd; }
  div.s2s_mas:hover a i {
    color: rgba(221, 221, 221, 0.7); }

.is_on_screen.globo {
  border-radius: 4px 0 4px 4px; }

aside.s2s_cookie_contenedor {
  color: #ccc; }
  aside.s2s_cookie_contenedor a.s2s_cookie_button {
    color: #333; }
    aside.s2s_cookie_contenedor a.s2s_cookie_button:hover {
      color: #000; }
  aside.s2s_cookie_contenedor div.s2s_cookie_more_info {
    color: #333;
    border: solid 2px #333; }

/*# sourceMappingURL=dark.css.map */
