/**************************/
/******   BTN COLOR   *****/
/**************************/
.s2s_contenedor .s2s_btn.active .s2s_flecha {
  opacity: 1; }
.s2s_contenedor .s2s_btn a.s2s_icon {
  color: #fff;
  padding-bottom: 4px; }
.s2s_contenedor .s2s_btn .s2s_flecha {
  content: ' ';
  position: absolute;
  border: 8px solid;
  border-color: #D6D6D6 transparent transparent transparent;
  z-index: 99999;
  top: -1px;
  -webkit-transition: opacity 300ms;
  -webkit-transition-delay: 100ms;
  opacity: 0; }
.s2s_contenedor .s2s_twitter {
  background-color: #3894b6;
  box-shadow: 0 -3px 0px 0px #2c748f inset; }
  .s2s_contenedor .s2s_twitter:hover {
    background-color: #00aced;
    box-shadow: 0 -1px 0px 0px #2c748f inset; }
  .s2s_contenedor .s2s_twitter.active {
    background-color: #00aced;
    box-shadow: 0 2px 0px 0px #2c748f inset; }
  .s2s_contenedor .s2s_twitter .s2s_flecha {
    border-color: #00aced transparent transparent transparent; }
  .s2s_contenedor .s2s_twitter .s2s_a_btn {
    background-color: #3894b6; }
    .s2s_contenedor .s2s_twitter .s2s_a_btn:hover {
      background-color: #00aced; }
.s2s_contenedor .s2s_facebook {
  background-color: #526282;
  box-shadow: 0 -3px 0px 0px #3e4a63 inset; }
  .s2s_contenedor .s2s_facebook:hover {
    background-color: #3b5998;
    box-shadow: 0 -1px 0px 0px #3e4a63 inset; }
  .s2s_contenedor .s2s_facebook.active {
    background-color: #3b5998;
    box-shadow: 0 2px 0px 0px #3e4a63 inset; }
  .s2s_contenedor .s2s_facebook .s2s_flecha {
    border-color: #3b5998 transparent transparent transparent; }
.s2s_contenedor .s2s_pinterest {
  background-color: #a4484c;
  box-shadow: 0 -3px 0px 0px #81383c inset; }
  .s2s_contenedor .s2s_pinterest:hover {
    background-color: #cb2027;
    box-shadow: 0 -1px 0px 0px #81383c inset; }
  .s2s_contenedor .s2s_pinterest.active {
    background-color: #cb2027;
    box-shadow: 0 2px 0px 0px #81383c inset; }
  .s2s_contenedor .s2s_pinterest .s2s_flecha {
    border-color: #cb2027 transparent transparent transparent; }
.s2s_contenedor .s2s_linkedin {
  background-color: #2a6d8c;
  box-shadow: 0 -3px 0px 0px #1e4e65 inset; }
  .s2s_contenedor .s2s_linkedin:hover {
    background-color: #007bb6;
    box-shadow: 0 -1px 0px 0px #1e4e65 inset; }
  .s2s_contenedor .s2s_linkedin.active {
    background-color: #007bb6;
    box-shadow: 0 2px 0px 0px #1e4e65 inset; }
  .s2s_contenedor .s2s_linkedin .s2s_flecha {
    border-color: #007bb6 transparent transparent transparent; }
.s2s_contenedor .s2s_gplus {
  background-color: #b66a60;
  box-shadow: 0 -3px 0px 0px #9c5147 inset; }
  .s2s_contenedor .s2s_gplus:hover {
    background-color: #dd4b39;
    box-shadow: 0 -1px 0px 0px #9c5147 inset; }
  .s2s_contenedor .s2s_gplus.active {
    background-color: #dd4b39;
    box-shadow: 0 2px 0px 0px #9c5147 inset; }
  .s2s_contenedor .s2s_gplus .s2s_flecha {
    border-color: #dd4b39 transparent transparent transparent; }
.s2s_contenedor .s2s_wapp {
  background-color: #43d854;
  box-shadow: 0 -3px 0px 0px #28c039 inset; }
  .s2s_contenedor .s2s_wapp:hover {
    background-color: #05e21f;
    box-shadow: 0 -1px 0px 0px #28c039 inset; }
  .s2s_contenedor .s2s_wapp.active {
    background-color: #05e21f;
    box-shadow: 0 2px 0px 0px #28c039 inset; }
  .s2s_contenedor .s2s_wapp .s2s_flecha {
    border-color: #05e21f transparent transparent transparent; }
  .s2s_contenedor .s2s_wapp .s2s_a_btn {
    background-color: #43d854; }
    .s2s_contenedor .s2s_wapp .s2s_a_btn:hover {
      background-color: #05e21f; }
.s2s_contenedor .s2s_tumblr {
  background-color: #41515f;
  box-shadow: 0 -3px 0px 0px #2c3741 inset; }
  .s2s_contenedor .s2s_tumblr:hover {
    background-color: #32506d;
    box-shadow: 0 -1px 0px 0px #2c3741 inset; }
  .s2s_contenedor .s2s_tumblr.active {
    background-color: #32506d;
    box-shadow: 0 2px 0px 0px #2c3741 inset; }
  .s2s_contenedor .s2s_tumblr .s2s_flecha {
    border-color: #32506d transparent transparent transparent; }
.s2s_contenedor .s2s_vk {
  background-color: #57687d;
  box-shadow: 0 -3px 0px 0px #424f5f inset; }
  .s2s_contenedor .s2s_vk:hover {
    background-color: #45668e;
    box-shadow: 0 -1px 0px 0px #424f5f inset; }
  .s2s_contenedor .s2s_vk.active {
    background-color: #45668e;
    box-shadow: 0 2px 0px 0px #424f5f inset; }
  .s2s_contenedor .s2s_vk .s2s_flecha {
    border-color: #45668e transparent transparent transparent; }
.s2s_contenedor .s2s_tgram {
  background-color: #127fb6;
  box-shadow: 0 -3px 0px 0px #0d5f88 inset; }
  .s2s_contenedor .s2s_tgram:hover {
    background-color: #0088cc;
    box-shadow: 0 -1px 0px 0px #0d5f88 inset; }
  .s2s_contenedor .s2s_tgram.active {
    background-color: #0088cc;
    box-shadow: 0 2px 0px 0px #0d5f88 inset; }
  .s2s_contenedor .s2s_tgram .s2s_flecha {
    border-color: #0088cc transparent transparent transparent; }
  .s2s_contenedor .s2s_tgram .s2s_a_btn {
    background-color: #127fb6; }
    .s2s_contenedor .s2s_tgram .s2s_a_btn:hover {
      background-color: #0088cc; }
.s2s_contenedor .s2s_flipb {
  background-color: #c21010;
  box-shadow: 0 -3px 0px 0px #930c0c inset; }
  .s2s_contenedor .s2s_flipb:hover {
    background-color: #8c1010;
    box-shadow: 0 -1px 0px 0px #930c0c inset; }
  .s2s_contenedor .s2s_flipb.active {
    background-color: #8c1010;
    box-shadow: 0 2px 0px 0px #930c0c inset; }
  .s2s_contenedor .s2s_flipb .s2s_flecha {
    border-color: #8c1010 transparent transparent transparent; }
.s2s_contenedor .s2s_delio {
  background-color: #257acc;
  box-shadow: 0 -3px 0px 0px #1d60a1 inset; }
  .s2s_contenedor .s2s_delio:hover {
    background-color: #1e61a3;
    box-shadow: 0 -1px 0px 0px #1d60a1 inset; }
  .s2s_contenedor .s2s_delio.active {
    background-color: #1e61a3;
    box-shadow: 0 2px 0px 0px #1d60a1 inset; }
  .s2s_contenedor .s2s_delio .s2s_flecha {
    border-color: #1e61a3 transparent transparent transparent; }
  .s2s_contenedor .s2s_delio .s2s_a_btn {
    background-color: #257acc; }
    .s2s_contenedor .s2s_delio .s2s_a_btn:hover {
      background-color: #1e61a3; }
.s2s_contenedor .s2s_reddit {
  background-color: #ea6a3a;
  box-shadow: 0 -3px 0px 0px #da4c17 inset; }
  .s2s_contenedor .s2s_reddit:hover {
    background-color: #ff4500;
    box-shadow: 0 -1px 0px 0px #da4c17 inset; }
  .s2s_contenedor .s2s_reddit.active {
    background-color: #ff4500;
    box-shadow: 0 2px 0px 0px #da4c17 inset; }
  .s2s_contenedor .s2s_reddit .s2s_flecha {
    border-color: #ff4500 transparent transparent transparent; }
  .s2s_contenedor .s2s_reddit .s2s_a_btn {
    background-color: #ea6a3a; }
    .s2s_contenedor .s2s_reddit .s2s_a_btn:hover {
      background-color: #ff4500; }
.s2s_contenedor .s2s_email {
  background-color: #257acc;
  box-shadow: 0 -3px 0px 0px #1d60a1 inset; }
  .s2s_contenedor .s2s_email:hover {
    background-color: #0076e8;
    box-shadow: 0 -1px 0px 0px #1d60a1 inset; }
  .s2s_contenedor .s2s_email.active {
    background-color: #0076e8;
    box-shadow: 0 2px 0px 0px #1d60a1 inset; }
  .s2s_contenedor .s2s_email .s2s_flecha {
    border-color: #0076e8 transparent transparent transparent; }
  .s2s_contenedor .s2s_email .s2s_a_btn {
    background-color: #257acc; }
    .s2s_contenedor .s2s_email .s2s_a_btn:hover {
      background-color: #0076e8; }

/**************************/
/******   BALLOON  *****/
/**************************/
.globo {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border: 0 solid #ccc;
  border-radius: 0px;
  box-shadow: 1px 2px 4px #aaa; }

.s2s_balloon_top .globo {
  border-bottom: solid 2px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px; }
.s2s_balloon_top .s2s_twitter .globo {
  border-color: #00aced; }
.s2s_balloon_top .s2s_facebook .globo {
  border-color: #3b5998; }
.s2s_balloon_top .s2s_pinterest .globo {
  border-color: #cb2027; }
.s2s_balloon_top .s2s_linkedin .globo {
  border-color: #007bb6; }
.s2s_balloon_top .s2s_gplus .globo {
  border-color: #dd4b39; }
.s2s_balloon_top .s2s_wapp .globo {
  border-color: #05e21f; }
.s2s_balloon_top .s2s_tumblr .globo {
  border-color: #32506d; }
.s2s_balloon_top .s2s_vk .globo {
  border-color: #45668e; }
.s2s_balloon_top .s2s_email .globo {
  border-color: #257acc; }
.s2s_balloon_top .s2s_reddit .globo {
  border-color: #ff4500; }
.s2s_balloon_top .s2s_delio .globo {
  border-color: #1e61a3; }
.s2s_balloon_top .s2s_tgram .globo {
  border-color: #0088cc; }
.s2s_balloon_top .s2s_flipb .globo {
  border-color: #8c1010; }

/*boton +*/
div.s2s_mas {
  background-color: #ccc;
  background-color: #ccc;
  box-shadow: 0 -3px 0px 0px #b3b3b3 inset; }
  div.s2s_mas a i {
    color: #333; }
  div.s2s_mas:hover {
    background-color: #ccc;
    box-shadow: 0 -1px 0px 0px #b3b3b3 inset; }
  div.s2s_mas.active {
    background-color: #ccc;
    box-shadow: 0 2px 0px 0px #b3b3b3 inset; }

.is_on_screen.globo {
  border-radius: 4px 0 4px 4px; }

/*# sourceMappingURL=lumen.css.map */
